body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #4c4c4c;
  background-color: #2aabe1;
}
a {
  color: #27aae1;
  text-decoration: none;
}
a:hover {
  color: #0092cf;
  text-decoration: underline;
}
section {
  line-height: 1.5;
  font-size: 15px;
  margin-bottom: 40px;
}
section h1 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}
li {
  margin: 5px 0 5px;
}
.wrapper {
  width: 1020px;
  margin: 20px auto 40px;
}
#content {
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2);
}
#header-group {
  width: 650px;
}
#teachingkit-banner {
  position: absolute;
  top: 30px;
  text-align: center;
  width: 200px;
  left: -60px;
  color: #686868;
  padding: 10px;
  background-color: #ffcd36;
  font-size: 18px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 2;
}
#header {
  margin: 0 auto;
  position: relative;
  color: #fff;
  background-color: #3fb58e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  min-height: 230px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -ms-justify-content: center;
}
#header a {
  text-decoration: underline;
}
#header h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
}
#header h2 {
  margin: 7px 0 0;
  font-size: 18px;
  font-weight: 300;
}
#header h2 a {
  color: #fff;
}
#header-content {
  position: relative;
  left: 70px;
  margin: 40px 0;
}
#metadata {
  margin-top: 15px;
}
#header-img {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 180px;
  -webkit-align-self: flex-start;
  -webkit-align-self: flex-start;
}
#header-img img {
  -webkit-align-self: flex-start;
  position: absolute;
  left: 45px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
#made-by {
  font-size: 15px;
}
#author {
  color: #fff;
}
#left-side {
  padding: 40px 0 0 105px;
  vertical-align: top;
  width: 650px;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#left-side section {
  padding-left: 20px;
  font-size: 15px;
  line-height: 1.5;
}
#left-side  > section  > h1 {
  font-size: 28px;
  color: #00be7a;
  font-weight: 300;
  line-height: 1;
}
.teach-checklist input[type=checkbox],
#review input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}
.teach-checklist input[type=checkbox] + label:after,
#review input[type=checkbox] + label:after {
  position: relative;
  display: inline-block;
  font-family: "FontAwesome";
  content: '\f096';
  font-size: 24px;
  color: #3fb58e;
  margin-right: 13px;
  width: 15px;
  top: 4px;
}
.teach-checklist input[type=checkbox]:checked + label:after,
#review input[type=checkbox]:checked + label:after {
  content: '\f046';
}
.teach-checklist ul,
#review ul {
  list-style: none;
  padding-left: 0;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}
.teach-checklist div,
#review div {
  padding: 15px 12px;
  background-color: #e3eaee;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
}
#right-side {
  padding: 45px 105px 0 20px;
  vertical-align: top;
  width: 365px;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.teach-tag-list,
#tags {
  overflow: hidden;
  margin-bottom: 35px;
}
.teach-tag-list ul,
#tags ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tag-item {
  display: block;
  float: left;
  color: #fff;
  padding: 5px 15px;
  margin: 0 5px 5px 0;
  background-color: #3fb58e;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.tag-item a {
  color: #fff;
}
.tag-item a:hover {
  text-decoration: none;
}
.tag-item:hover {
  background-color: #20795b;
}
#agenda {
  overflow: hidden;
  position: relative;
}
#agenda ol {
  font-size: 1.2em;
  counter-reset: item;
  padding-left: 10px;
  background-color: #fff2cc;
  border-bottom: 1px dotted #ccc;
  position: relative;
  margin: 0;
}
#agenda ol li {
  list-style-type: none;
  border-bottom: 1px dotted #ccc;
  padding: 10px 10px 10px 0;
  margin: 0;
  margin-left: 30px;
}
#agenda ol li:last-child {
  border-bottom: none;
}
#agenda ol li:before {
  position: absolute;
  left: 17px;
  font-weight: 600;
  color: #777777;
  content: counter(item, decimal) ')';
  counter-increment: item;
}
.line {
  position: absolute;
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 100%;
  display: inline-block;
  margin-left: 10px;
  z-index: 1;
}
.teach-list,
#resources {
  overflow: hidden;
}
.teach-list ul,
#resources ul {
  font-size: 10px;
  padding-left: 15px;
}
.teach-list ul li,
#resources ul li {
  font-size: 10px;
  margin-bottom: 10px;
}
.teach-list ul li a,
#resources ul li a {
  font-size: 15px;
}
#about h1,
#review h1 {
  font-size: 28px;
  color: #00be7a;
  font-weight: 300;
  line-height: 1;
}
#about,
#resources {
  font-size: 15px;
  line-height: 1.5;
}
@media (min-width: 1520px) {
  .wrapper {
    width: 1520px;
    margin: 20px auto;
  }
  #header-group {
    width: auto;
    max-width: 1050px;
  }
  #left-side {
    width: 850px;
    margin-right: 140px;
  }
  #right-side {
    width: 400px;
  }
}
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  section {
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 10px;
  }
  section  > h1 {
    margin-top: 0;
    font-size: 46px;
  }
  .wrapper {
    margin: 10px 10px 40px 10px;
    width: 620px;
  }
  #header {
    padding: 30px;
    text-align: center;
    -webkit-box-orient: vertical;
  }
  #header-content {
    left: auto;
  }
  #header-img img {
    left: 0;
  }
  #header-group {
    width: auto;
  }
  #header-group h1 {
    font-size: 54px;
  }
  #header-group h2 {
    font-size: 32px;
  }
  #teachingkit-banner {
    display: none;
  }
  #metadata {
    display: none;
  }
  .print {
    display: none;
  }
  #content {
    display: table;
    padding: 0 5px 30px 5px;
  }
  #left-side {
    padding: 0;
    width: auto;
    display: table-row-group;
  }
  #left-side section {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
  }
  #left-side  > section  > h1 {
    font-size: 50px;
  }
  #review div {
    font-size: 28px;
    font-weight: 400;
  }
  #review ul {
    font-size: 26px;
    font-weight: 400;
  }
  #review input[type=checkbox]  label:after {
    position: relative;
    display: inline-block;
    font-family: "FontAwesome";
    content: '\f096';
    font-size: 40px;
    color: #3fb58e;
    margin-right: 32px;
    width: 15px;
    top: 7px;
  }
  #right-side {
    padding: 0;
    width: auto;
    display: table-header-group;
  }
  #agenda {
    padding-left: 10px;
  }
  #agenda  > h1 {
    padding-left: 10px;
  }
  #agenda ol {
    font-size: 30px;
    line-height: 55px;
    font-weight: 300;
  }
  #agenda ol li {
    margin-left: 45px;
    font-weight: 400;
  }
  #agenda ol li a {
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
  }
  #agenda ol li:before {
    font-size: 26px;
  }
  #about p:first-of-type {
    margin-top: 0;
  }
  #resources ul {
    padding-left: 0;
    margin-bottom: 0;
  }
  #resources ul li {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 25px;
  }
  #resources ul li a {
    font-size: 30px;
    vertical-align: middle;
  }
  #resources ul li:last-of-type {
    margin-bottom: 0;
  }
  #tags {
    padding-top: 60px;
    margin-bottom: 50px;
  }
  #tags ul {
    position: relative;
  }
  .tag-item {
    font-size: 30px;
    font-weight: 300;
    padding: 30px 25px;
    margin: 0 10px 10px 0;
  }
  #about > h1,
  #review > h1 {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 22px;
  }
  .teach-checklist div,
  #review div {
    padding: 25px 17px;
  }
}
@media print {
  * {
    overflow: visible;
  }
  body {
    color: #000;
    background-color: #fff;
  }
  a:after {
    content: " (" attr(href) ") ";
  }
  section {
    margin-bottom: 10px;
  }
  .wrapper {
    width: 100%;
    margin: 0;
  }
  #teachingkit-banner {
    display: none;
  }
  #header {
    color: #000;
    background-color: #fff;
    padding: 35px 0 30px 20px;
    overflow: hidden;
    page-break-after: avoid;
  }
  #header h1 {
    font-size: 26px;
  }
  #author {
    color: #000;
  }
  .print {
    display: none;
  }
  #content {
    border-radius: none;
    box-shadow: none;
    page-break-inside: always;
  }
  #left-side {
    padding: 0;
    width: 55%;
  }
  #review div {
    color: #000;
    background-color: #fff;
    padding: 0;
  }
  #right-side {
    padding: 10px 0 0 20px;
    width: 44%;
  }
  .tag-item {
    color: #27aae1;
    background-color: #fff;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .tag-item a {
    color: #27aae1;
  }
  .tag-item:not(:last-child):after {
    content: ', ';
    margin-right: 3px;
  }
  .tag-item:hover {
    background-color: #fff;
  }
  #agenda ol {
    background-color: #fff;
    padding-left: 0;
    border-bottom: none;
  }
  #agenda ol li {
    list-style-type: none;
    border-bottom: none;
    margin: 0;
  }
  #agenda ol li:before {
    font-weight: 400;
    color: #000;
    content: counter(item, decimal) ')';
    counter-increment: item;
    left: 0px;
    margin-right: 5px;
    position: relative;
  }
  .line {
    display: none;
  }
  #about h1,
  #review h1 {
    font-size: 22px;
    color: #00be7a;
    font-weight: 300;
  }
}
