/*********************************************************
* Base
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: white;
}

body {
  font: @font-size-base 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  color: #4c4c4c;
  background: #fff;
  padding-bottom: 40px;
}

img {
  max-width: 100%;
}
